{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="content container" style="text-align: center">

    <h1>SLOT POKER YOU DUMB FUCK</h1>

    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 machineContainer">
            <div id="machine1" class="slotMachine">
                <div class="slot slot1">&#x1F0A1</div>
                <div class="slot slot2">&#x1F0A2</div>
                <div class="slot slot3">&#x1F0A3</div>
                <div class="slot slot4">&#x1F0A4</div>
                <div class="slot slot5">&#x1F0A5</div>
                <div class="slot slot6">&#x1F0A6</div>
                <div class="slot slot7">&#x1F0A7</div>
                <div class="slot slot8">&#x1F0A8</div>
                <div class="slot slot9">&#x1F0A9</div>
                <div class="slot slot10">&#x1F0AA</div>
                <div class="slot slot11">&#x1F0AB</div>
                <div class="slot slot12">&#x1F0AD</div>
                <div class="slot slot13">&#x1F0AE</div>
                <div class="slot slot14">&#x1F0B1</div>
                <div class="slot slot15">&#x1F0B2</div>
                <div class="slot slot16">&#x1F0B3</div>
                <div class="slot slot17">&#x1F0B4</div>
                <div class="slot slot18">&#x1F0B5</div>
                <div class="slot slot19">&#x1F0B6</div>
                <div class="slot slot20">&#x1F0B7</div>
                <div class="slot slot21">&#x1F0B8</div>
                <div class="slot slot22">&#x1F0B9</div>
                <div class="slot slot23">&#x1F0BA</div>
                <div class="slot slot24">&#x1F0BB</div>
                <div class="slot slot25">&#x1F0BD</div>
                <div class="slot slot26">&#x1F0BE</div>
                <div class="slot slot27">&#x1F0C1</div>
                <div class="slot slot28">&#x1F0C2</div>
                <div class="slot slot29">&#x1F0C3</div>
                <div class="slot slot30">&#x1F0C4</div>
                <div class="slot slot31">&#x1F0C5</div>
                <div class="slot slot32">&#x1F0C6</div>
                <div class="slot slot33">&#x1F0C7</div>
                <div class="slot slot34">&#x1F0C8</div>
                <div class="slot slot35">&#x1F0C9</div>
                <div class="slot slot36">&#x1F0CA</div>
                <div class="slot slot37">&#x1F0CB</div>
                <div class="slot slot38">&#x1F0CD</div>
                <div class="slot slot39">&#x1F0CE</div>
                <div class="slot slot40">&#x1F0D1</div>
                <div class="slot slot41">&#x1F0D2</div>
                <div class="slot slot42">&#x1F0D3</div>
                <div class="slot slot43">&#x1F0D4</div>
                <div class="slot slot44">&#x1F0D5</div>
                <div class="slot slot45">&#x1F0D6</div>
                <div class="slot slot46">&#x1F0D7</div>
                <div class="slot slot47">&#x1F0D8</div>
                <div class="slot slot48">&#x1F0D9</div>
                <div class="slot slot49">&#x1F0DA</div>
                <div class="slot slot50">&#x1F0DB</div>
                <div class="slot slot51">&#x1F0DD</div>
                <div class="slot slot52">&#x1F0DE</div>
            </div>

            <div id="machine2" class="slotMachine">
                <div class="slot slot1">&#x1F0A1</div>
                <div class="slot slot2">&#x1F0A2</div>
                <div class="slot slot3">&#x1F0A3</div>
                <div class="slot slot4">&#x1F0A4</div>
                <div class="slot slot5">&#x1F0A5</div>
                <div class="slot slot6">&#x1F0A6</div>
                <div class="slot slot7">&#x1F0A7</div>
                <div class="slot slot8">&#x1F0A8</div>
                <div class="slot slot9">&#x1F0A9</div>
                <div class="slot slot10">&#x1F0AA</div>
                <div class="slot slot11">&#x1F0AB</div>
                <div class="slot slot12">&#x1F0AD</div>
                <div class="slot slot13">&#x1F0AE</div>
                <div class="slot slot14">&#x1F0B1</div>
                <div class="slot slot15">&#x1F0B2</div>
                <div class="slot slot16">&#x1F0B3</div>
                <div class="slot slot17">&#x1F0B4</div>
                <div class="slot slot18">&#x1F0B5</div>
                <div class="slot slot19">&#x1F0B6</div>
                <div class="slot slot20">&#x1F0B7</div>
                <div class="slot slot21">&#x1F0B8</div>
                <div class="slot slot22">&#x1F0B9</div>
                <div class="slot slot23">&#x1F0BA</div>
                <div class="slot slot24">&#x1F0BB</div>
                <div class="slot slot25">&#x1F0BD</div>
                <div class="slot slot26">&#x1F0BE</div>
                <div class="slot slot27">&#x1F0C1</div>
                <div class="slot slot28">&#x1F0C2</div>
                <div class="slot slot29">&#x1F0C3</div>
                <div class="slot slot30">&#x1F0C4</div>
                <div class="slot slot31">&#x1F0C5</div>
                <div class="slot slot32">&#x1F0C6</div>
                <div class="slot slot33">&#x1F0C7</div>
                <div class="slot slot34">&#x1F0C8</div>
                <div class="slot slot35">&#x1F0C9</div>
                <div class="slot slot36">&#x1F0CA</div>
                <div class="slot slot37">&#x1F0CB</div>
                <div class="slot slot38">&#x1F0CD</div>
                <div class="slot slot39">&#x1F0CE</div>
                <div class="slot slot40">&#x1F0D1</div>
                <div class="slot slot41">&#x1F0D2</div>
                <div class="slot slot42">&#x1F0D3</div>
                <div class="slot slot43">&#x1F0D4</div>
                <div class="slot slot44">&#x1F0D5</div>
                <div class="slot slot45">&#x1F0D6</div>
                <div class="slot slot46">&#x1F0D7</div>
                <div class="slot slot47">&#x1F0D8</div>
                <div class="slot slot48">&#x1F0D9</div>
                <div class="slot slot49">&#x1F0DA</div>
                <div class="slot slot50">&#x1F0DB</div>
                <div class="slot slot51">&#x1F0DD</div>
                <div class="slot slot52">&#x1F0DE</div>
            </div>

            <div id="machine3" class="slotMachine">
                <div class="slot slot1">&#x1F0A1</div>
                <div class="slot slot2">&#x1F0A2</div>
                <div class="slot slot3">&#x1F0A3</div>
                <div class="slot slot4">&#x1F0A4</div>
                <div class="slot slot5">&#x1F0A5</div>
                <div class="slot slot6">&#x1F0A6</div>
                <div class="slot slot7">&#x1F0A7</div>
                <div class="slot slot8">&#x1F0A8</div>
                <div class="slot slot9">&#x1F0A9</div>
                <div class="slot slot10">&#x1F0AA</div>
                <div class="slot slot11">&#x1F0AB</div>
                <div class="slot slot12">&#x1F0AD</div>
                <div class="slot slot13">&#x1F0AE</div>
                <div class="slot slot14">&#x1F0B1</div>
                <div class="slot slot15">&#x1F0B2</div>
                <div class="slot slot16">&#x1F0B3</div>
                <div class="slot slot17">&#x1F0B4</div>
                <div class="slot slot18">&#x1F0B5</div>
                <div class="slot slot19">&#x1F0B6</div>
                <div class="slot slot20">&#x1F0B7</div>
                <div class="slot slot21">&#x1F0B8</div>
                <div class="slot slot22">&#x1F0B9</div>
                <div class="slot slot23">&#x1F0BA</div>
                <div class="slot slot24">&#x1F0BB</div>
                <div class="slot slot25">&#x1F0BD</div>
                <div class="slot slot26">&#x1F0BE</div>
                <div class="slot slot27">&#x1F0C1</div>
                <div class="slot slot28">&#x1F0C2</div>
                <div class="slot slot29">&#x1F0C3</div>
                <div class="slot slot30">&#x1F0C4</div>
                <div class="slot slot31">&#x1F0C5</div>
                <div class="slot slot32">&#x1F0C6</div>
                <div class="slot slot33">&#x1F0C7</div>
                <div class="slot slot34">&#x1F0C8</div>
                <div class="slot slot35">&#x1F0C9</div>
                <div class="slot slot36">&#x1F0CA</div>
                <div class="slot slot37">&#x1F0CB</div>
                <div class="slot slot38">&#x1F0CD</div>
                <div class="slot slot39">&#x1F0CE</div>
                <div class="slot slot40">&#x1F0D1</div>
                <div class="slot slot41">&#x1F0D2</div>
                <div class="slot slot42">&#x1F0D3</div>
                <div class="slot slot43">&#x1F0D4</div>
                <div class="slot slot44">&#x1F0D5</div>
                <div class="slot slot45">&#x1F0D6</div>
                <div class="slot slot46">&#x1F0D7</div>
                <div class="slot slot47">&#x1F0D8</div>
                <div class="slot slot48">&#x1F0D9</div>
                <div class="slot slot49">&#x1F0DA</div>
                <div class="slot slot50">&#x1F0DB</div>
                <div class="slot slot51">&#x1F0DD</div>
                <div class="slot slot52">&#x1F0DE</div>
            </div>
            <div id="machine4" class="slotMachine">
                <div class="slot slot1">&#x1F0A1</div>
                <div class="slot slot2">&#x1F0A2</div>
                <div class="slot slot3">&#x1F0A3</div>
                <div class="slot slot4">&#x1F0A4</div>
                <div class="slot slot5">&#x1F0A5</div>
                <div class="slot slot6">&#x1F0A6</div>
                <div class="slot slot7">&#x1F0A7</div>
                <div class="slot slot8">&#x1F0A8</div>
                <div class="slot slot9">&#x1F0A9</div>
                <div class="slot slot10">&#x1F0AA</div>
                <div class="slot slot11">&#x1F0AB</div>
                <div class="slot slot12">&#x1F0AD</div>
                <div class="slot slot13">&#x1F0AE</div>
                <div class="slot slot14">&#x1F0B1</div>
                <div class="slot slot15">&#x1F0B2</div>
                <div class="slot slot16">&#x1F0B3</div>
                <div class="slot slot17">&#x1F0B4</div>
                <div class="slot slot18">&#x1F0B5</div>
                <div class="slot slot19">&#x1F0B6</div>
                <div class="slot slot20">&#x1F0B7</div>
                <div class="slot slot21">&#x1F0B8</div>
                <div class="slot slot22">&#x1F0B9</div>
                <div class="slot slot23">&#x1F0BA</div>
                <div class="slot slot24">&#x1F0BB</div>
                <div class="slot slot25">&#x1F0BD</div>
                <div class="slot slot26">&#x1F0BE</div>
                <div class="slot slot27">&#x1F0C1</div>
                <div class="slot slot28">&#x1F0C2</div>
                <div class="slot slot29">&#x1F0C3</div>
                <div class="slot slot30">&#x1F0C4</div>
                <div class="slot slot31">&#x1F0C5</div>
                <div class="slot slot32">&#x1F0C6</div>
                <div class="slot slot33">&#x1F0C7</div>
                <div class="slot slot34">&#x1F0C8</div>
                <div class="slot slot35">&#x1F0C9</div>
                <div class="slot slot36">&#x1F0CA</div>
                <div class="slot slot37">&#x1F0CB</div>
                <div class="slot slot38">&#x1F0CD</div>
                <div class="slot slot39">&#x1F0CE</div>
                <div class="slot slot40">&#x1F0D1</div>
                <div class="slot slot41">&#x1F0D2</div>
                <div class="slot slot42">&#x1F0D3</div>
                <div class="slot slot43">&#x1F0D4</div>
                <div class="slot slot44">&#x1F0D5</div>
                <div class="slot slot45">&#x1F0D6</div>
                <div class="slot slot46">&#x1F0D7</div>
                <div class="slot slot47">&#x1F0D8</div>
                <div class="slot slot48">&#x1F0D9</div>
                <div class="slot slot49">&#x1F0DA</div>
                <div class="slot slot50">&#x1F0DB</div>
                <div class="slot slot51">&#x1F0DD</div>
                <div class="slot slot52">&#x1F0DE</div>
            </div>
            <div id="machine5" class="slotMachine">
                <div class="slot slot1">&#x1F0A1</div>
                <div class="slot slot2">&#x1F0A2</div>
                <div class="slot slot3">&#x1F0A3</div>
                <div class="slot slot4">&#x1F0A4</div>
                <div class="slot slot5">&#x1F0A5</div>
                <div class="slot slot6">&#x1F0A6</div>
                <div class="slot slot7">&#x1F0A7</div>
                <div class="slot slot8">&#x1F0A8</div>
                <div class="slot slot9">&#x1F0A9</div>
                <div class="slot slot10">&#x1F0AA</div>
                <div class="slot slot11">&#x1F0AB</div>
                <div class="slot slot12">&#x1F0AD</div>
                <div class="slot slot13">&#x1F0AE</div>
                <div class="slot slot14">&#x1F0B1</div>
                <div class="slot slot15">&#x1F0B2</div>
                <div class="slot slot16">&#x1F0B3</div>
                <div class="slot slot17">&#x1F0B4</div>
                <div class="slot slot18">&#x1F0B5</div>
                <div class="slot slot19">&#x1F0B6</div>
                <div class="slot slot20">&#x1F0B7</div>
                <div class="slot slot21">&#x1F0B8</div>
                <div class="slot slot22">&#x1F0B9</div>
                <div class="slot slot23">&#x1F0BA</div>
                <div class="slot slot24">&#x1F0BB</div>
                <div class="slot slot25">&#x1F0BD</div>
                <div class="slot slot26">&#x1F0BE</div>
                <div class="slot slot27">&#x1F0C1</div>
                <div class="slot slot28">&#x1F0C2</div>
                <div class="slot slot29">&#x1F0C3</div>
                <div class="slot slot30">&#x1F0C4</div>
                <div class="slot slot31">&#x1F0C5</div>
                <div class="slot slot32">&#x1F0C6</div>
                <div class="slot slot33">&#x1F0C7</div>
                <div class="slot slot34">&#x1F0C8</div>
                <div class="slot slot35">&#x1F0C9</div>
                <div class="slot slot36">&#x1F0CA</div>
                <div class="slot slot37">&#x1F0CB</div>
                <div class="slot slot38">&#x1F0CD</div>
                <div class="slot slot39">&#x1F0CE</div>
                <div class="slot slot40">&#x1F0D1</div>
                <div class="slot slot41">&#x1F0D2</div>
                <div class="slot slot42">&#x1F0D3</div>
                <div class="slot slot43">&#x1F0D4</div>
                <div class="slot slot44">&#x1F0D5</div>
                <div class="slot slot45">&#x1F0D6</div>
                <div class="slot slot46">&#x1F0D7</div>
                <div class="slot slot47">&#x1F0D8</div>
                <div class="slot slot48">&#x1F0D9</div>
                <div class="slot slot49">&#x1F0DA</div>
                <div class="slot slot50">&#x1F0DB</div>
                <div class="slot slot51">&#x1F0DD</div>
                <div class="slot slot52">&#x1F0DE</div>
            </div>


        </div>

        <div class="col-md-2">
            <div id="slotMachineButton1" class="slotMachineButton">GO!</div>
        </div>

    </div>

    <br>
    <div class="row">
        <div class="col-md-2">
            <span>Your Hand:</span>
            <div class="handScore">

            </div>
        </div>
        <div class="col-md-2">
            <span>Your Bank:</span>
            <div class="bank">

            </div>
        </div>
        <div class="col-md-2">
            <div class="betDiv">
                Input your Bet Here:
                <input id="bet" type="number" name="bet" value="">
            </div>
        </div>
    </div>

</div>


{% endblock %}
