{% extends "layout.html" %}

{% block title %}{% endblock %}


{% block content %}


    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>

  <div class="container">

    <h1>Register</h1>

    <form action = "/users" method = "post">
      <div class="form-group">
        <label for="EmailInput">Email address</label>
        <input type="email" class="form-control" id="email-input" placeholder="Email" name="email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password-input" placeholder="Password" name="password">
      </div>
      <button type="submit" class="btn btn-default">Register</button>
    </form>

    <hr>

    <h1>Login</h1>

     <form action = "/user/login" method = "post">
      <div class="form-group">
        <label for="EmailInput">Email address</label>
        <input type="email" class="form-control" id="login-email-input" placeholder="Email" name="loginEmail">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="login-password-input" placeholder="Password" name="loginPassword">
      </div>
      <button type="submit" class="btn btn-default">Login</button>
    </form>

    <hr>

    <form action= "/user/logout" method = "post">
      <button type="submit" class="btn btn-default" id="logout">Logout</button>
    </form>

    <hr>

    <div id="gameArea">
      <div id="bank"></div>
      <div id="hand"></div>
      <button id="deal">Deal</button>
    </div>


  </div>

{% endblock %}
